{% extends 'base1.html'%}

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>


{%block  content%}
{% load static  %}

  <div class="w3-black">
   

      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide w3-center">ProTreX</h2>
    <p class="w3-opacity"><i>Improving Lives Throught Learning..</i></p><br>
    <p class="w3-justify">ProTreX is Product Design, Development & Manufacturing Company. Their motive is to design Latest Technology based system & Gadgets.They provide different services like PCB Design, Website Development, Technical Training & Seminars.ProTreX is an emerging electronics field company in embedded solution professionalism. Just over a year ago we became fascinated by the idea of our Honorable Prime Minister about 'Skill India' and his statement of,"constant updating of training programs and syllabus to ensure that youth is exposed to latest technology and industrial environment".</p><br>


  </div>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey">
  <p><h3>Address:</h3>
           ProTreX - Technology re-Xplained <br>
         G-10, Ground Floor, Golden Park Commercial Complex, Sai Nagar,<br> 
         Vasai (w), Mumbai, Maharashtra 401202</p>
</footer>



{%endblock%}