<title>Product Details</title>{% extends 'base1.html'%}
{%block  content%}
   {% load static  %}
<style>
    .search-on {
   height:500px;
  background:white;
  background-size:cover;
  position:relative;
}

.search-on div {
  max-width:600px;
  width:100%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -20%);
  position:relative;
  top:30%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}
</style>
    <div class="search-on">
    <div>
<center>
{% if messages %}
<div >
    {% for message in messages %}
	<div{% if message.tags %} class="{{ message.tags }}"{% endif %}><h1>{{ message }}</h1></div>
    {% endfor %}
</div>

{
   {%else%}

		<h1> Product Details</h1>
		<table border="2">
			<tr>
			<th>ID</th>
			<th>MFD</th>
			<th>Temprature</th>
			<th>Humidity</th>
			<th>Last Update</th>
		</tr>

		<tr>
			<td>{{tem_data.id}}</td>
			<td>{{disp_data.mfd}}</td>
			<td>{{tem_data.temp}}</td>
			<td>{{tem_data.humi}}</td>
			<td>{{tem_data.Lastdate}}</td>
		</tr>

		
		</table>
		{% endif %}
	</center>
</div>
    </div>
{%endblock%}