<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"  href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
     <style>
        .Center {
            max-width:600px;
            width:100%;
            background-color:#1e2833;
            padding:40px;
            border-radius:4px;
            transform:translate(-50%, 80%);
            position:relative;
            top:50%;
            left:50%;
            color:#fff;
            box-shadow:3px 3px 4px rgba(0,0,0,0.2);
        }
    </style>
</head>

<body>
	
<div class="float-lg-left">hello</div>
<div class="float-lg-right">right</div>
<div class="Center" style="background-color: green;"> my class</div>
</body>
</html>
