{% extends 'admin_base.html'%}
{%block  content%}
 <style>
    .search-on {
   height:500px;
  background:white;
  background-size:cover;
  position:relative;
}

.search-on div {
  max-width:600px;
  width:100%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -20%);
  position:relative;
  top:30%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}
</style>
    <div class="search-on">
    <div>
	<center>
		<h1> Recent Packet Data</h1>
		<table border="2" cellpadding="5">
			<tr>
			<th>ID</th>
			<th>MFD</th>
			<th>Temprature</th>
			<th>Humidity</th>
			<th>Last Update</th>
		</tr>
		{%for d in disp_data%}
		<tr>
			<td>{{d.id}}</td>
			<td>{{d.mfd}}</td>
			<td>{{d.temp}}</td>	
			<td>{{d.humi}}</td>
			<td>{{d.Lastupdate}}</td>
		</tr>
		{%endfor%}
		</table>
	</center>
    </div>
    </div>
	{%endblock%}

