
{% extends 'base1.html'%}
{%block  content%}
{% load static  %}
 <style>


    .login-dark {
  height:550px;
  background:White;
  background-size:cover;
  position:relative;
}

.login-dark div {
  max-width:320px;
  width:100%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -20%);
  position:relative;
  top:30%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}</style>

    <div class="login-dark">
        <div>
            <h4> <marquee> Food safety is our motto </marquee> </h4>

        </div>
    </div>

{%endblock%}